type firmware_file, fs_type, contextmount_type;
type modem_config_file, file_type, data_file_type;
type qmuxd_socket, file_type;
type sysfs_esoc, sysfs_type, fs_type;
type sysfs_hsic, sysfs_type, fs_type;
type sysfs_hsic_host_rdy, sysfs_type, file_type;
type sysfs_hsic_modem_wait, sysfs_type, fs_type;
type sysfs_msm_subsys, sysfs_type, fs_type;
type sysfs_smdcntl_open_timeout, fs_type, sysfs_type;
